Repository sebpretzer/pyticktick: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, scripts/checks/pypi_version.py, scripts/checks/changelog.py

.pre-commit-config.yaml:

repos:
  # basic checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        args: [--unsafe]
      - id: check-toml
      - id: name-tests-test
        args: [--pytest-test-first]

  # docs checks
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        # Do not switch to mdformat --exclude until: https://github.com/hukkin/mdformat/issues/489
        exclude: |
          (?x)(
            ^docs/CODE_OF_CONDUCT\.md$ |
            ^docs/reference/.*\.md$
          )
        additional_dependencies:
          - mdformat-mkdocs
          - mdformat-footnote
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint-fix
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos
        args: [--force-exclude]

  # python checks
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.10
    hooks:
      - id: uv-lock
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: ruff-lint
        args: [--fix]
      - id: ruff-format
        name: ruff-format
  # Remove this after rules are added to ruff
  # https://github.com/astral-sh/ruff/issues/12434
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - Flake8-pyproject==1.2.3
          - pydoclint==0.6.6
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.406
    hooks:
      - id: pyright
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run --no-active mypy
        language: system
        types: [python]
        args: [--config-file, pyproject.toml, .]
        require_serial: true
        pass_filenames: false
      - id: scripts/checks/pypi_version.py
        name: scripts/checks/pypi_version.py
        entry: ./scripts/checks/pypi_version.py
        language: system
        files: ^pyproject.toml$
        pass_filenames: false
      - id: scripts/checks/changelog.py
        name: scripts/checks/changelog.py
        entry: ./scripts/checks/changelog.py
        language: system
        files: |
          (?x)^(
            docs/CHANGELOG\.md
            |pyproject.toml
          )$
        pass_filenames: false

add custom model for X-Device; clean up documentation
  docs/guides/settings/overriding_outdated_headers.md
  src/pyticktick/settings.py
Due: mypy

add unit tests
  tests/unit/test_settings.py
Due: mypy

formatting
  docs/guides/settings/overriding_outdated_headers.md
Due: none

doc fixes
  docs/guides/settings/overriding_outdated_headers.md
Due: none

Update src/pyticktick/settings.py
  src/pyticktick/settings.py
Due: mypy

Override headers (#227)
  docs/guides/settings/overriding_outdated_headers.md
  mkdocs.yaml
  src/pyticktick/settings.py
  tests/unit/test_settings.py
  uv.lock
Due: mypy

version bump; changelog
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: scripts/checks/pypi_version.py, scripts/checks/changelog.py

version bump; changelog (#229)
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: scripts/checks/pypi_version.py, scripts/checks/changelog.py

update workflow with PAT
  .github/workflows/checks.yaml
Due: none

lint auto-fixes
  uv.lock
Due: none

Initial fixes, without updating ty requested fixes
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: scripts/checks/pypi_version.py, scripts/checks/changelog.py

ignore all errors
  scripts/checks/pypi_version.py
  scripts/generate_v1_token.py
  src/pyticktick/logger.py
  src/pyticktick/pydantic.py
  tests/integration/conftest.py
  tests/integration/v2/test_batch.py
  tests/integration/v2/test_closed.py
  tests/integration/v2/test_task.py
  tests/unit/test_pydantic.py
  tests/unit/test_settings.py
Due: mypy

Update scripts/checks/pypi_version.py
  scripts/checks/pypi_version.py
Due: mypy

Add support for ty (#245)
  .pre-commit-config.yaml
  pyproject.toml
  scripts/checks/pypi_version.py
  scripts/generate_v1_token.py
  src/pyticktick/logger.py
  src/pyticktick/pydantic.py
  tests/integration/conftest.py
  tests/integration/v2/test_batch.py
  tests/integration/v2/test_closed.py
  tests/integration/v2/test_task.py
  tests/unit/test_pydantic.py
  tests/unit/test_settings.py
  uv.lock
Due: mypy, scripts/checks/pypi_version.py, scripts/checks/changelog.py

fix broken ty types
  src/pyticktick/retry.py
  tests/integration/v1/conftest.py
  tests/integration/v2/conftest.py
  tests/unit/test_pydantic.py
  uv.lock
Due: mypy

improve error handling for override_forbid_extra_message_injector
  src/pyticktick/models/v2/models.py
Due: mypy

add registerDate to responses
  src/pyticktick/models/v2/responses/user.py
Due: mypy

fix unit tests for registerDate
  tests/unit/conftest.py
  tests/unit/v2/test_v2_models.py
Due: mypy

fix broken ty types (#264)
  src/pyticktick/models/v2/models.py
  src/pyticktick/models/v2/responses/user.py
  src/pyticktick/retry.py
  tests/integration/v1/conftest.py
  tests/integration/v2/conftest.py
  tests/unit/conftest.py
  tests/unit/test_pydantic.py
  tests/unit/v2/test_v2_models.py
  uv.lock
Due: mypy

add modified_time to BatchTaskParentRespValueV2
  src/pyticktick/models/v2/responses/task_parent.py
  uv.lock
Due: mypy

add modified_time to BatchTaskParentRespValueV2 (#287)
  src/pyticktick/models/v2/responses/task_parent.py
  uv.lock
Due: mypy

fix(docs): add missing imports in documentation code snippets
  docs/guides/cookbook/project_groups/get_a_project_group_by_id.md
  docs/guides/cookbook/project_groups/get_a_project_group_by_name.md
  docs/guides/ticktick_api/generate_v1_token.md
Due: none

fix(docs): add missing imports in documentation code snippets (#288)
  docs/guides/cookbook/project_groups/get_a_project_group_by_id.md
  docs/guides/cookbook/project_groups/get_a_project_group_by_name.md
  docs/guides/ticktick_api/generate_v1_token.md
Due: none
