Repository sebpretzer/pyticktick: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, scripts/checks/pypi_version.py, scripts/checks/changelog.py

.pre-commit-config.yaml:

repos:
  # basic checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
        args: [--unsafe]
      - id: check-toml
      - id: name-tests-test
        args: [--pytest-test-first]

  # docs checks
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        args: [--exclude, docs/reference/**, --exclude, docs/CODE_OF_CONDUCT.md]
        additional_dependencies:
          - mdformat-mkdocs==4.0.0
          - mdformat-footnote==0.1.1
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint-fix
  - repo: https://github.com/crate-ci/typos
    rev: v1.35.3
    hooks:
      - id: typos
        args: [--force-exclude]

  # python checks
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.6
    hooks:
      - id: uv-lock
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.8
    hooks:
      - id: ruff
        name: ruff-lint
        args: [--fix]
      - id: ruff-format
        name: ruff-format
  # Remove this after rules are added to ruff
  # https://github.com/astral-sh/ruff/issues/12434
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - Flake8-pyproject==1.2.3
          - pydoclint==0.6.6
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.403
    hooks:
      - id: pyright
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run --no-active mypy
        language: system
        types: [python]
        args: [--config-file, pyproject.toml, .]
        require_serial: true
        pass_filenames: false
      - id: scripts/checks/pypi_version.py
        name: scripts/checks/pypi_version.py
        entry: ./scripts/checks/pypi_version.py
        language: system
        files: ^pyproject.toml$
        pass_filenames: false
      - id: scripts/checks/changelog.py
        name: scripts/checks/changelog.py
        entry: ./scripts/checks/changelog.py
        language: system
        files: |
          (?x)^(
            docs/CHANGELOG\.md
            |pyproject.toml
          )$
        pass_filenames: false

add schedule
  .github/renovate.json
Due: none

add schedule (#193)
  .github/renovate.json
Due: none

fix typo
  src/pyticktick/logger.py
Due: mypy

remove unnecessary pin for mdformat extensions
  .pre-commit-config.yaml
Due: none

move config to separate file
  .mdformat.toml
  .pre-commit-config.yaml
Due: none

switching to pre-commit filtering instead of --exclude
  .mdformat.toml
  .pre-commit-config.yaml
Due: none

add comment to guide user
  .pre-commit-config.yaml
Due: none

fix broken tests
  src/pyticktick/models/v2/models.py
  tests/integration/v2/test_closed.py
Due: mypy

fix broken tests (#200)
  src/pyticktick/models/v2/models.py
  tests/integration/v2/test_closed.py
Due: mypy

Ignore python as a renovate dependency to check
  .github/renovate.json
Due: none

shift python versions up 1
  .github/workflows/checks.yaml
  pyproject.toml
  uv.lock
Due: scripts/checks/pypi_version.py, scripts/checks/changelog.py

fix UP007
  src/pyticktick/client.py
  src/pyticktick/models/v2/models.py
  src/pyticktick/models/v2/parameters/project.py
  src/pyticktick/models/v2/parameters/task.py
  src/pyticktick/models/v2/parameters/task_parent.py
  tests/integration/v1/conftest.py
Due: mypy

uv lock --upgrade
  uv.lock
Due: none

always upgrade lock file as part of pre-commit
  .pre-commit-config.yaml
Due: none

remove branching logic for code < 3.10; fix bug in issubclass for 3.14
  pyproject.toml
  src/pyticktick/models/v2/types.py
  src/pyticktick/pydantic.py
  src/pyticktick/retry.py
  tests/unit/conftest.py
Due: mypy, scripts/checks/pypi_version.py, scripts/checks/changelog.py

update coverage file name
  .github/workflows/checks.yaml
Due: none

update broken headers
  src/pyticktick/settings.py
  uv.lock
Due: mypy

Support All Active Python Versions (#201)
  .github/renovate.json
  .github/workflows/checks.yaml
  .pre-commit-config.yaml
  pyproject.toml
  src/pyticktick/client.py
  src/pyticktick/models/v2/models.py
  src/pyticktick/models/v2/parameters/project.py
  src/pyticktick/models/v2/parameters/task.py
  src/pyticktick/models/v2/parameters/task_parent.py
  src/pyticktick/models/v2/types.py
  src/pyticktick/pydantic.py
  src/pyticktick/retry.py
  src/pyticktick/settings.py
  tests/integration/v1/conftest.py
  tests/unit/conftest.py
  uv.lock
Due: mypy, scripts/checks/pypi_version.py, scripts/checks/changelog.py

Add workflow for integration testing
  .github/workflows/integration_monitoring.yaml
Due: none

Update .github/workflows/integration_monitoring.yaml
  .github/workflows/integration_monitoring.yaml
Due: none

Add workflow for integration testing (#205)
  .github/workflows/integration_monitoring.yaml
Due: none

initial draft automated integration failure issue opener
  .github/workflows/integration_monitoring.yaml
  .github/workflows/integration_monitoring_template.md
Due: none

make pre-commit verbose
  .github/workflows/integration_monitoring_template.md
  Makefile
  uv.lock
Due: none

fix pre-commit config
  .pre-commit-config.yaml
Due: none

Update .github/workflows/integration_monitoring_template.md
  .github/workflows/integration_monitoring_template.md
Due: none

typos
  .github/workflows/integration_monitoring_template.md
Due: none

small clean ups
  .github/workflows/integration_monitoring.yaml
  .github/workflows/integration_monitoring_template.md
Due: none

auto assign all issues to me
  .github/workflows/auto_assign_issue.yaml
Due: none

TODO: revert this
  .github/workflows/integration_monitoring.yaml
Due: none

small formatting changes
  .github/workflows/integration_monitoring.yaml
  .github/workflows/integration_monitoring_template.md
Due: none

Weekly api check - open issue automatically (#207)
  .github/workflows/auto_assign_issue.yaml
  .github/workflows/integration_monitoring.yaml
  .github/workflows/integration_monitoring_template.md
  .pre-commit-config.yaml
  Makefile
  uv.lock
Due: none

add custom message for extra_forbidden
  pyproject.toml
  src/pyticktick/models/v2/models.py
  tests/unit/v2/test_v2_models.py
  uv.lock
Due: mypy, scripts/checks/pypi_version.py, scripts/checks/changelog.py

fixing detached HEAD, following this: https://github.com/stefanzweifel/git-auto-commit-action/issues/378#issuecomment-2961831054
  .github/workflows/checks.yaml
Due: none

dropping typing.Self for 3.10 support
  src/pyticktick/models/v2/models.py
Due: mypy

rename function, clean up docs
  docs/guides/settings/overriding_models_that_forbid_extra_fields.md
  src/pyticktick/models/v2/models.py
  tests/unit/v2/test_v2_models.py
Due: mypy

Extra forbidden better feedback (#223)
  docs/guides/settings/overriding_models_that_forbid_extra_fields.md
  pyproject.toml
  src/pyticktick/models/v2/models.py
  tests/unit/v2/test_v2_models.py
Due: mypy, scripts/checks/pypi_version.py, scripts/checks/changelog.py

allowing for header override
  src/pyticktick/settings.py
Due: mypy

adding pointer to documentation
  docs/guides/settings/overriding_outdated_headers.md
  mkdocs.yaml
  src/pyticktick/settings.py
Due: mypy

typo
  src/pyticktick/settings.py
Due: mypy

add documentation
  docs/guides/settings/overriding_outdated_headers.md
  src/pyticktick/settings.py
  uv.lock
Due: mypy
